<p-menubar>
	<ng-template #start>
		<button
			type="button"
			pButton
			icon="pi pi-bars"
			(click)="onMenuClick()"
		></button>
	</ng-template>
	<!-- <ng-template #item let-item let-root="root">
        <a  class="flex items-center p-menubar-item-link">
            <span>{{ item.label }}</span>
        </a>
    </ng-template> -->
	<ng-template #end>
		<div class="flex items-center gap-2">
			<button
				pButton
				label="Logout"
				icon="pi pi-sign-out"
				class="w-full"
				severity="danger"
				text
                (click)="onLogoutClick()"
			></button>
		</div>
	</ng-template>
</p-menubar>
