// Overwrite schedule-x theme variables with PrimeNG colors.
// TODO: Find a way to not use !important and ViewEncapsulation.None.
.is-dark {
	--sx-color-primary: var(--primary-color) !important;
	--sx-color-on-primary: var(--text-color) !important;
	--sx-color-primary-container: var(--p-primary-600) !important;
	--sx-color-on-primary-container: var(--text-color) !important;
	--sx-color-background: var(--surface-overlay) !important;
	--sx-internal-color-text: var(--text-color) !important;
	--sx-color-surface-dim: var(--p-primary-700) !important;
}

:root {
	--sx-color-primary: var(--primary-color) !important;
	--sx-color-on-primary: var(--text-color) !important;
	--sx-color-primary-container: var(--p-primary-100) !important;
	--sx-internal-color-text: var(--text-color) !important;
	--sx-color-surface-dim: var(--p-primary-200) !important;
}

.ng-calendar-wrapper {
	height: calc(100vh - 112px);
}
