<form
	[formGroup]="workoutForm"
	(ngSubmit)="submit()"
	class="flex flex-col gap-3">
	<div class="flex flex-row">
		<p-inputgroup>
			<p-inputgroup-addon>
				<i class="pi pi-heart"></i>
			</p-inputgroup-addon>
			<input pInputText formControlName="title" placeholder="Title" />
		</p-inputgroup>
	</div>

	<div class="flex flex-row">
		<p-inputgroup>
			<p-inputgroup-addon>
				<i class="pi pi-calendar"></i>
			</p-inputgroup-addon>
			<p-datepicker
				class="p-datepicker-inputgroup-fix"
				formControlName="start"
				[showTime]="true"
				[showIcon]="true"
				[iconDisplay]="'input'"
				hourFormat="24"
				inputId="startDate"
				placeholder="Start Date" />
		</p-inputgroup>
	</div>

	<div class="flex flex-row">
		<p-inputgroup>
			<p-inputgroup-addon>
				<i class="pi pi-calendar"></i>
			</p-inputgroup-addon>
			<p-datepicker
				class="p-datepicker-inputgroup-fix"
				formControlName="end"
				[showTime]="true"
				[showIcon]="true"
				[iconDisplay]="'input'"
				inputId="endDate"
				hourFormat="24"
				placeholder="End Date" />
		</p-inputgroup>
	</div>

	<div class="flex flex-row">
		<p-inputgroup>
			<p-inputgroup-addon>
				<i class="pi pi-map-marker"></i>
			</p-inputgroup-addon>
			<input pInputText formControlName="location" placeholder="Room" />
		</p-inputgroup>
	</div>

	<p-footer>
		<div class="flex w-full justify-end gap-3">
			<button
				pButton
				type="button"
				label="Cancel"
				severity="warn"
				(click)="cancel()"></button>
			<button
				pButton
				type="button"
				label="Delete"
				severity="danger"
				(click)="remove()"></button>
			<button
				pButton
				type="button"
				label="Update"
				severity="success"
				(click)="submit()"
				[disabled]="!hasFormChanged() || workoutForm.invalid"></button>
		</div>
	</p-footer>
</form>
