<div class="flex align-items-center justify-content-center min-h-screen px-3">
  <p-card class="w-full sm:w-30rem">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-3">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-user"></i>
        </p-inputgroup-addon>
        <input
			pInputText
			formControlName="email"
			placeholder="Email"
		/>
      </p-inputgroup>

      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-key"></i>
        </p-inputgroup-addon>
        <p-password
          class="p-password-inputgroup-fix"
		  formControlName="password"
          placeholder="Password"
          [feedback]="false"
          [toggleMask]="true"
        />
      </p-inputgroup>

	<p-button
	    type="submit"
		label="Login"
		icon="pi pi-check"
		iconPos="right"
	/>
    </form>
  </p-card>
</div>
