/* You can add global styles to this file, and also import other style files */
@use 'primeicons/primeicons.css';
@use './layout/layout.scss';
@layer tailwind {
  @import "tailwindcss" important;
}
@layer tailwind, primeng;
@plugin "tailwindcss-primeui";

body {
	// This code removes border-radius when p-password is inserted inside p-inputgroup with a p-inputgroup-addon icon
	.p-inputgroup .p-password input.p-inputtext {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	// This code removes border-radius when p-datepicker is inserted inside p-inputgroup with a p-inputgroup-addon icon
	.p-inputgroup .p-datepicker input.p-inputtext {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	// sx-calendar styles
	.auto-height-schedule-dialog .p-dialog {
		height: auto;
		max-height: none;
		overflow: visible;
	}

	.auto-height-schedule-dialog .p-dialog-content {
		overflow: visible;
	}

	.sx__calendar {
		border: none;
	}

	// PrimeNG dark mode toggle transition
	html.dark-theme,
	html.p-theme-dark {
		transition: background-color 0.3s ease, color 0.3s ease;
	}
}
