/* You can add global styles to this file, and also import other style files */
@use 'primeicons/primeicons.css';
@use './layout/layout.scss';
@use '@schedule-x/theme-default/dist/index.css';
@layer tailwind {
	@import 'tailwindcss' important;
}
@layer tailwind, primeng;
@plugin "tailwindcss-primeui";

body {
	// This code removes border-radius when p-password is inserted inside p-inputgroup with a p-inputgroup-addon icon
	.p-inputgroup .p-password input.p-inputtext {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	// This code removes border-radius when p-datepicker is inserted inside p-inputgroup with a p-inputgroup-addon icon
	.p-inputgroup .p-datepicker input.p-inputtext {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.p-avatar img {
		object-fit: contain;
		width: 100%;
		height: 100%;
	}

	.p-knob-text {
		font-size: 2rem;
	}

	.p-tabs-scrollable > .p-tablist {
		border-top-left-radius: var(--content-border-radius);
		border-top-right-radius: var(--content-border-radius);
	}

	.p-tabpanels {
		border-bottom-left-radius: var(--content-border-radius);
		border-bottom-right-radius: var(--content-border-radius);
	}

	.p-card {
		border-radius: var(--content-border-radius);
		box-shadow: none;
		height: 100%;
	}

	// schedule-x styles
	.ng-calendar-wrapper {
		height: calc(100vh - 112px);
	}

	.auto-height-schedule-dialog .p-dialog {
		height: auto;
		max-height: none;
		overflow: visible;
	}

	.auto-height-schedule-dialog .p-dialog-content {
		overflow: visible;
	}

	.sx__calendar {
		border: none;
	}

	--sx-color-primary: var(--primary-color);
	--sx-color-on-primary: var(--text-color);
	--sx-color-primary-container: var(--p-primary-100);
	--sx-internal-color-text: var(--text-color);
	--sx-color-surface-dim: var(--p-primary-100);
	--sx-color-surface-container: var(--p-primary-200);

	.is-dark {
		--sx-color-primary: var(--primary-color);
		--sx-color-on-primary: var(--text-color);
		--sx-color-primary-container: var(--p-primary-600);
		--sx-color-on-primary-container: var(--text-color);
		--sx-color-background: var(--surface-overlay);
		--sx-internal-color-text: var(--text-color);
		--sx-color-surface-dim: var(--p-primary-800);
		--sx-color-surface-container: var(--p-primary-700);
	}

	// PrimeNG dark mode toggle transition
	html.dark-theme,
	html.p-theme-dark {
		transition:
			background-color 0.3s ease,
			color 0.3s ease;
	}
}
